
{% extends 'base.html' %}

{% block content %}
  <h1>{{ contact.first_name }} {{ contact.last_name }}</h1>
  <table class="table table-striped">
    <tr>
      <th>电话1:</th>
      <td>{{ contact.tel1 }}</td>
    </tr>
    <tr>
      <th>电话2:</th>
      <td>{{ contact.tel2 }}</td>
    </tr>
    <tr>
      <th>Email:</th>
      <td>{{ contact.email }}</td>
    </tr>
    <tr>
      <th>Email验证码:</th>
      <td>{{ contact.email_validate_code }}</td>
    </tr>
    <tr>
      <th>Email验证码过期时间:</th>
      <td>{{ contact.email_validate_date }}</td>
    </tr>
    <tr>
      <th>Email验证信息:</th>
      <td>{{ contact.email_validate_msg }}</td>
    </tr>
  </table>
  <a href="{{ url_for('edit', id=contact.id) }}" class="btn btn-primary">编辑</a>
  <a href="{{ url_for('index') }}" class="btn btn-secondary">返回</a>
{% endblock %}
